<footer class="bg-white" aria-labelledby="footer-heading">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8 xl:col-span-1 w-80">
        <%= image_tag("sample logo.svg", class: "h-12") %>
        <p class="text-sm text-blue-900">
        Lorem ipsum dolor sit amet, consetetur<br>
        sadipscing elitr, sed diam nonumy <br>
        eirmod</p>

        <div class="w-full max-w-lg lg:max-w-xs lg:ml-19">
          <%= form_tag('', :method => "get") do %>
            <label for="#" class="sr-only">Email Address</label>
            <div class="relative">
              <input class="block w-full rounded-full border border-blue-300 bg-white py-2 pl-10 pr-3 leading-5 placeholder-gray-500 focus:border-indigo-500 focus:placeholder-gray-400 focus:outline-none focus:ring-1 focus:ring-indigo-500 sm:text-sm" placeholder="Email Address">
            </div>
          <% end %>
        </div>
      </div>
      <div class="mt-12 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-lg font-bold text-gray-900">Menu</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Shop All</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">About Us</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Community</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">FAQs</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <h3 class="text-lg font-bold text-gray-900">Support</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Shipping & Returns</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Help & FAQ</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Terms & Conditions</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Privacy Policy</a>
              </li>
              <li>
                <a href="/#" class="text-sm text-gray-500 hover:text-gray-900">Contact</a>
              </li>
              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Login</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3 class="text-lg font-bold text-gray-900">Resources</h3>
            <ul role="list" class="mt-4 space-y-4">
              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Shipping & Returns</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Help & FAQ</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Terms & Conditions</a>
              </li>

              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Privacy Policy</a>
              </li>
              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Contact</a>
              </li>
              <li>
                <a href="#" class="text-sm text-gray-500 hover:text-gray-900">Login</a>
              </li>
            </ul>
          </div>
          <div class="mt-12 md:mt-0">
            <%= image_tag("Path 335.svg", class: "h-16 w-auto lg:mr-2 border-8 border-sky-400 rounded-full px-5 py-3 bg-sky-400") %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
    <div class="flex justify-center space-x-6 md:order-2">
      <%= image_tag("facebook (3).svg", class: "h-16 w-auto lg:mr-2 border-8 border-transparent rounded-full px-5 py-3 bg-blue-300 bg-opacity-5") %>
      <%= image_tag("linkedin (1).svg", class: "h-16 w-auto lg:mr-2 border-8 border-transparent rounded-full px-6 py-3 bg-blue-300 bg-opacity-5") %>
      <%= image_tag("Logo_00000038394049246713568260000012923108920998390947_.svg", class: "h-16 w-auto lg:mr-2 border-8 border-transparent rounded-full px-5 py-3 bg-blue-300 bg-opacity-5") %>
    </div>
    <div class="mt-8 md:order-1 md:mt-0">
      <p class="text-center text-sm text-black">&copy; 2022 Brainly.</p>
    </div>
  </div>
</footer>