<div class="get-started-container pb-12">
  <div class="relative overflow-hidden pt-2 pb-12">
    <div class="relative">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0">
          <div>
            <div class="mt-6">
              <h1 class="text-6xl font-bold tracking-tight text-indigo-900 mb-4">The Cheapest Textbooks</h1>
              <h3 class="text-2xl font-bold tracking-tight text-indigo-600 break-words">Save up To 90% On Millions <br> Of Titles</h3>
              
              <p class="mt-4 text-m text-indigo-900 font-semibold tracking-wide">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr,<br>
                sed diam nonumy eirmod tempor invidunt ut labore et <br> 
                dolore magna.</p>
              <div class="mt-6">
                <a href="#" class="inline-flex rounded-lg bg-indigo-600 px-5 py-3 text-base font-semibold leading-7 text-white shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700">
                  Get started
                  <%= image_tag("Path 329.svg", class: "svg ml-2") %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:mt-0">
         <div class="hidden flex justify-end lg:flex mr-10 mb-12"> 
           <p id="inquire" class="inquire font-serif text-sm mt-7 mr-2 text-right">Inquire us now to <br> avail discounts!</p>
           <%# <img class="h-10 w-auto" src="../assets/XMLID_2331_.svg"> %>
           <%= image_tag("XMLID_2331_.svg", class: "h-10 w-auto") %>
         </div>
          <%= image_tag("hero illustration.svg", class: "w-screen xs:absolute xs:left-0 xs:h-full xs:w-auto xs:max-w-none") %>
        </div>
      </div>
    </div>
    <div class="mt-24">
      <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8">
        <div class="mx-auto max-w-xl px-6 lg:col-start-2 lg:mx-0 lg:max-w-none lg:py-32 lg:px-0">
          <div>
            <div class="mt-6">
              <h2 class="text-5xl font-bold tracking-tight text-white">Our Commitment</h2>
              <p class="mt-4 text-m text-white font-semibold tracking-wide">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, <br>
                sed diam nonumy eirmod tempor invidunt ut labore et <br>
                dolore magna aliquyam erat, sed diam voluptua. At <br>
                vero eos et accusam et justo duo dolores et ea rebum
              </p>
              <div class="mt-6">
                <a href="#" class="inline-flex rounded-lg bg-blue-950 px-5 py-3 text-base leading-7 text-sky-500 shadow-sm ring-1 ring-indigo-600 hover:bg-indigo-700 hover:ring-indigo-700">
                  Learn More
                  <%= image_tag("Path 329.svg", class: "svg ml-2") %>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 sm:mt-16 lg:col-start-1 lg:mt-0">
          <div class="md:-ml-48 md:pr-4 sm:pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
            <%= image_tag("Group 13597.png", class: "w-screen xs:absolute xs:right-0 xs:h-full xs:w-auto xs:max-w-none") %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div>
    <div class="mx-auto max-w-7xl py-12 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl text-center mb-12 text-white font-bold">Trusted By Awesome <span style="color:gold"> Clients </span> </h1>
      <div class="grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-6">
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("Binance.svg") %>
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Binance</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("Layer_x0020_1.svg", class: "h-12") %>
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Bitcoin</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("solana-sol-logo.svg", class: "h-12") %>
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Solana</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("Ethereum.svg", class: "h-12") %>
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Ethereum</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("tether-usdt-logo.svg", class: "h-12") %>
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">Tether</span>
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <%= image_tag("Layer 2.svg", class: "h-12") %>
          <span class="inline text-white text-2xl font-semibold my-auto ml-4">XRP</span>
        </div>
      </div>
    </div>
  </div>
</div>
